html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f3f4ef; 
    width: 100%;
}

    
#banner {
    width: 100%;
    background-color: #41b1e1;
    color: white;
}

header {
    margin: 0 auto;    
    width: 50%;
    font-size: 50px;     
    padding-top: 16px;
}

nav {
    margin: 0 auto;
    width: 50%;
    height: 20px;
    padding-bottom: 40px;
}

.navItems {
    margin-left: -15px;
}

aside {
    right: 10px; 
    padding-top: 10px;
    position: fixed;
    z-index: 1;
}

.asideIcon {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;    
}

ul.navItems li {
    float: left;
    margin-right: 10px
}

body {    
    margin: 0 auto;   
    height: 100%;
}

#content {
    background-color: #f3f4ef; 
    padding: 3px;
}

article {
     max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.projectImg {
    float:left;
    width: 400px;
    margin-right: 30px
}

.projectLi {
    position: relative;
    overflow: hidden;    
    margin-bottom: 100px;    
}

.projectInfo {
    margin-top: -20px;
    padding-right: 20px;        
}

.projectLinks {
}

.padded {
    padding: 10px;   
}

